node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/node_modules/
/dist/

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock
# ignore .env in real project
#.env

# IntelliJ IDEA
.idea/
*.iml
